<div class="row" *ngIf="!authorizeChangePassword">
  <div class="col-6">
      <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
                <!-- <div class="card-header">
                    Olvidé mi contraseña
                </div> -->
                <div class="card-body">
                  <h5 class="card-title">Olvidé mi contraseña</h5>
                  <p class="card-text">Se te enviará un correo electrónico con un código de seguridad, el cual vas a usar para restablecer tu contraseña.</p>
                  <div class="btn-group">
                      <form #formForgotPassword="ngForm" (ngSubmit)="stepOne(formForgotPassword);">
                        <div>
                          <label for="email">Correo electrónico</label>
                          <input ngModel type="text" name="email" class="form-control">
                        </div>
                        <div>
                          <br />
                          <a [routerLink]="['/login']" class="btn btn-link">Volver</a>
                          <button type="submit" [disabled]="loading" class="btn btn-primary">Continuar</button>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
          </div>
        </div>
  </div>
  <div class="col-6">
    <div class="row justify-content-center">
        <div class="col-12">
          <div class="card">
              <!-- <div class="card-header">
                  Olvidé mi contraseña
              </div> -->
              <div class="card-body">
                <h5 class="card-title">Ya tengo el código de seguridad</h5>
                <p class="card-text">Ingresá el código que recibiste por correo y tu dirección de correo para poder restablecer tu contraseña.</p>
                <div class="btn-group">
                    <form #formStepTwo="ngForm" (ngSubmit)="stepTwo(formStepTwo);">
                      <div>
                        <label for="securityCode">Código de seguridad</label>
                        <input ngModel type="number" name="securityCode" class="form-control">
                      </div>
                      <div>
                        <label for="email">Correo electrónico</label>
                        <input ngModel type="text" name="email" class="form-control">
                      </div>
                      <div>
                        <br />
                        <a [routerLink]="['/login']" class="btn btn-link">Volver</a>
                        <button type="submit" [disabled]="loading" class="btn btn-primary">Continuar</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="row" *ngIf="authorizeChangePassword">
  <div class="col-12">
      <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
                <!-- <div class="card-header">
                    Restablecer contraseña
                </div> -->
                <div class="card-body">
                  <h5 class="card-title">Restablecer contraseña</h5>
                  <p class="card-text">Ingresar la nueva contraseña.</p>
                  <div class="btn-group">
                      <form #formStepThree="ngForm" (ngSubmit)="stepThree(formStepThree);">
                        <div>
                          <label for="securityCode">Nueva contraseña</label>
                          <input ngModel type="password" name="password1" class="form-control">
                        </div>
                        <div>
                          <label for="email">Repetir contraseña</label>
                          <input ngModel type="password" name="password2" class="form-control">
                          <input [(ngModel)]="email_t" type="hidden" name="email_t">
                        </div>
                        <div>
                            <br />
                          <button type="submit" [disabled]="loading" class="btn btn-primary">Continuar</button>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(255, 255, 255, 0.8)"
  size="medium"
  color="#107596"
  type="square-jelly-box">
 <p style="font-size: 20px; color: #107596">Verificando...</p>
</ngx-spinner>