<div class="row justify-content-center">
  <div class="col-8">
    <div class="card">
        <!-- <div class="card-header">
            Soy nuevo y quiero registrarme
        </div> -->
        <div class="card-body">
          <h5 class="card-title">Soy nuevo y quiero registrarme</h5>
          <div class="btn-group">
              <form #formRegister="ngForm" (ngSubmit)="registrarme(formRegister);">
                <div>
                  <label for="emailreg">Correo electrónico</label>
                  <input ngModel type="text" name="emailreg" class="form-control">
                </div>
                <div>
                  <label for="firstName">Nombre</label>
                  <input ngModel type="text" name="firstName" class="form-control">
                </div>
                <div>
                  <label for="lastName">Apellido</label>
                  <input ngModel type="text" name="lastName" class="form-control">
                </div>
                <div>
                  <label for="password">Contraseña</label>
                  <input ngModel type="password" name="password" class="form-control">
                </div>
                <div>
                  <br />
                  <button type="submit" [disabled]="loading" class="btn btn-primary">Registrarme</button>
                  <br /><br />
                  <a [routerLink]="['/login']" class="btn btn-link">Ya tengo usuario</a>
                </div>
              </form>
            </div>
        </div>
      </div>
  </div>
  </div>
