<div class="row content-center">
  <div class="col-12">
      <h3>Soy nuevo, y quiero registrarme</h3>
  </div>
</div>
<div class="row content-center">
  <div class="col-12">
      <div class="card-body">
        <div class="btn-group">
          <form #formRegister="ngForm" (ngSubmit)="registrarme(formRegister);">
            <div>
              <label for="emailreg">Correo electrónico</label>
              <input ngModel type="text" name="emailreg" class="form-control">
            </div>
            <div>
              <label for="firstName">Nombre</label>
              <input ngModel type="text" name="firstName" class="form-control">
            </div>
            <div>
              <label for="lastName">Apellido</label>
              <input ngModel type="text" name="lastName" class="form-control">
            </div>
            <div>
              <label for="password">Password</label>
              <input ngModel type="password" name="password" class="form-control">
            </div>
            <div>
              <br />
              <button type="submit" [disabled]="loading" class="btn btn-primary">Listo!</button>
              <br />
              <br />
              <a [routerLink]="['/login']" class="btn btn-link">Ya tengo usuario</a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
