<!-- <div id="main-wrapper">
  <div class="wrapper style2">
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="col-8 col-12-medium">
            <div id="content"> -->

              <div>
                <h1>Bienvenido a Cinema!</h1>
              </div>
              <br>
              <div>
                <a href="" (click)="logout()" class="boton-salir">Salir</a>
              </div>

            <!-- </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->