<div id="page-wrapper">
    <!-- nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/pic08.jpg" width="35" height="35" class="d-inline-block align-top" alt="">
            &nbsp;&nbsp;Cinema Reel
        </a>
        <button *ngIf="authService.isLoggedIn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div *ngIf="authService.isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Mensajes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Notificaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="logout()">Salir</a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a>&nbsp;</li>
                <li class="nav-item"><a class="nav-link" href="#"></a>&nbsp;</li>
                <li class="nav-item"><a class="nav-link" href="#">{{authService.AuthUser.user.firstName}} {{authService.AuthUser.user.lastName}}</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style3">
            <div class="inner">
                <div class="container">
                    <notifier-container></notifier-container>
                    <div class="row">
                        <alert></alert>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Wrapper -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-12-medium">
                    <!-- Contact -->
                        <section>
                            <h2>Para seguir en contacto</h2>
                            <div>
                                <div class="row">
                                    <div class="col-12-small">
                                        <dl class="contact">
                                            <dt>Twitter</dt>
                                            <dd><a href="#">@untitled-corp</a></dd>
                                            <dt>Facebook</dt>
                                            <dd><a href="#">facebook.com/untitled</a></dd>
                                            <dt>Web</dt>
                                            <dd><a href="#">untitled.tld</a></dd>
                                            <dt>Correo</dt>
                                            <dd><a href="#">user@untitled.tld</a></dd>
                                        </dl>
                                    </div>
                                    <div class="col-12-small">
                                        <dl class="contact">
                                            <dt>Dirección</dt>
                                            <dd>
                                                Calle Falsa 123<br />
                                                Quilmes, 1878<br />
                                                Argentina
                                            </dd>
                                            <dt>Teléfono</dt>
                                            <dd>+54 9 11 1234-5678</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </section>

                </div>
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Cinema. Todos los derechos reservados.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>