<div id="page-wrapper">
    <!-- Header Wrapper -->
        <div id="header-wrapper">
            <div class="container">
                <!-- Header -->
                <header id="header">
                    <div class="inner">
                        <!-- Logo -->
                        <h1><a href="" id="logo">Cinema</a></h1>
                        <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <!--
                                <li><a href="index.html">Home</a></li>
                                <li>
                                    <a href="#">Dropdown</a>
                                    <ul>
                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                        <li><a href="#">Magna phasellus</a></li>
                                        <li>
                                            <a href="#">Phasellus consequat</a>
                                            <ul>
                                                <li><a href="#">Lorem ipsum dolor</a></li>
                                                <li><a href="#">Phasellus consequat</a></li>
                                                <li><a href="#">Magna phasellus</a></li>
                                                <li><a href="#">Etiam dolore nisl</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Veroeros feugiat</a></li>
                                    </ul>
                                </li>
                                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                -->
                                <li class="current_page_item">
                                    <a href="">{{user}}</a>
                                </li>
                                
                                <li><a href="" (click)="logout()" class="boton-salir">Salir de Cinema</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>

        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <div class="row">

                            <alert></alert>
                            <notifier-container></notifier-container>
                            <router-outlet></router-outlet>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer Wrapper -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-12-medium">
                    <!-- Contact -->
                        <section>
                            <h2>Para seguir en contacto</h2>
                            <div>
                                <div class="row">
                                    <div class="col-12-small">
                                        <dl class="contact">
                                            <dt>Twitter</dt>
                                            <dd><a href="#">@untitled-corp</a></dd>
                                            <dt>Facebook</dt>
                                            <dd><a href="#">facebook.com/untitled</a></dd>
                                            <dt>Web</dt>
                                            <dd><a href="#">untitled.tld</a></dd>
                                            <dt>Correo</dt>
                                            <dd><a href="#">user@untitled.tld</a></dd>
                                        </dl>
                                    </div>
                                    <div class="col-12-small">
                                        <dl class="contact">
                                            <dt>Dirección</dt>
                                            <dd>
                                                Calle Falsa 123<br />
                                                Quilmes, 1878<br />
                                                Argentina
                                            </dd>
                                            <dt>Teléfono</dt>
                                            <dd>+54 9 11 1234-5678</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </section>

                </div>
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Cinema. Todos los derechos reservados.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>