<div class="row">
  <div class="col-4">
    <div>
      <h2>Entrar en Cinema</h2>
    </div>
        <div class="card-body">
          <div class="btn-group">
            <form #formLogin="ngForm" (ngSubmit)="entrar(formLogin);">
                <div class="form-group mx-sm-3 mb-2 text-left">
                <input ngModel type="text" name="email" class="form-control" placeholder="Correo electrónico">
              </div>
              <br>
              <div class="form-group mx-sm-3 mb-2 text-left">
                <input ngModel type="password" name="pass" class="form-control" placeholder="Contraseña">
              </div>
              <br>
              <div class="form-check">
                <button type="submit" [disabled]="loading" class="btn btn-primary">Vamos!</button>
              </div>
            </form>
          </div>
        </div>
  </div>

  <div class="col-4"></div>

  <div class="col-4">
    <!--<a [routerLink]="['/register']" class="btn btn-link">Soy nuevo en Cinema</a>-->
    <div>
      <h2>Soy nuevo, quiero registrarme</h2>
    </div>
    <div class="card-body">
      <div class="btn-group">
        <form #formRegister="ngForm" (ngSubmit)="registrarme(formRegister);">
          <div class="form-group mx-sm-3 mb-2 text-left">
              <input ngModel type="text" name="emailreg" class="form-control" placeholder="Correo electrónico">
          </div>
          <br>
          <div class="form-group mx-sm-3 mb-2 text-left">
            <input ngModel type="text" name="fisrtname" class="form-control" placeholder="Nombre">
          </div>
          <br>
          <div class="form-group mx-sm-3 mb-2 text-left">
            <input ngModel type="text" name="lastname" class="form-control" placeholder="Apellido">
          </div>
          <br>
          <div class="form-group mx-sm-3 mb-2 text-left">
            <input ngModel type="password" name="password" class="form-control" placeholder="Contraseña">
          </div>
          <br>
          <div class="form-check">
            <button type="submit" [disabled]="loading" class="btn btn-primary">Listo!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>