<div class="row content-center">
    <div class="col-12">
        <h4>Mi Perfil {{user.getFullName()}}</h4>
    </div>
  </div>
  <div class="row content-center">
    <div class="col-12">
        <div class="card-body">
          <div class="btn-group">
            <form #formProfile="ngForm" (ngSubmit)="updateProfile(formProfile);">
              <div>
                <label for="email">Correo electrónico</label>
                <input [(ngModel)]="user.email" type="text" name="email" class="form-control">
              </div>
              <div>
                <label for="firstName">Nombre</label>
                <input [(ngModel)]="user.firstName" type="text" name="firstName" class="form-control">
              </div>
              <div>
                <label for="lastName">Apellido</label>
                <input [(ngModel)]="user.lastName" type="text" name="lastName" class="form-control">
              </div>
              <div>
                  <label for="address">Dirección</label>
                  <input [(ngModel)]="user.address" type="text" name="address" class="form-control">
                </div>           
              <div>
                <label for="telephone">Teléfono</label>
                <input [(ngModel)]="user.telephone" type="text" name="telephone" class="form-control">
              </div>
              <div>
                <br />
                <!-- <button type="submit" [disabled]="loading" class="btn btn-primary">Guardar</button> -->
                <!-- cuando se implemente el guardar real, se vuelve a utilizar el tag de arriba con el loading -->
                <a [routerLink]="['/portal-home']" class="btn btn-link">Volver</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  